/* Reset default browser styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    background-color: rgb(56, 137, 156);
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure header is above other content */

}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: #00d4ff; 
}

nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
    display: flex;
    right: 0%;
}

nav ul li {
    margin-right: 20px;
    float: left; 
}


.container {
    display: flex;
}

aside {
    width: 250px;
    padding: 20px;
    position: fixed;
}


main {
    flex-grow: 1;
    padding: 20px;
    margin-left: 280px; /* Adjust according to the width of the aside */
    background-color: #f2f2f2;
    padding-top: 100px; /* Add padding to accommodate fixed header and profile card */
}

section {
    margin-bottom: 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h2 {
    margin-bottom: 10px;
}

.profile-card {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-card img {
    width: 150px;
    height: 140px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-card h1 {
    font-size: 20px;
    margin-bottom: 5px;
}

.profile-card p {
    font-size: 14px;
    margin-bottom: 5px;
}

.profile-card a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #0073b1;
    font-weight: bold;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.card img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.card-content {
    padding: 20px;
}
.card-title {
    font-size: 18px;
    margin-bottom: 10px;
}
.card-description {
    font-size: 14px;
}
.slideshow-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    padding: 20px; 
    border-radius: 10px;
    box-sizing: border-box;
    background-color: rgb(56, 137, 156);
}
.product-slide {
    width: calc(30% - 30px);
    margin: 10px;
    padding: 5px;
    text-align: center;
    background-color: #f4f4f4;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 8px; 
    box-sizing: border-box;
}
.product-slide img {
    max-width: 100%;
    max-height: 100%;
}
.product-slide p {
    font-size: 16px;
    margin-top: 10px;
}
