*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
.navbar{
    background: #3474e6;
    color: #fff;
    height: 60px;
}
.navbar .logo{
    font-size: x-large;
    font-weight: bold;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar ul{
    display: flex;
}
li{
    margin-left: 20px;
}
.content{
    height: 400px;
    margin: 30px;
    padding: 20px;
}
h2{
    margin-bottom: 30px;
    font-weight: bold;
    color: #3474e6;
}
p{
    margin: auto;
    font-size: 18px;
}
span{
    font-weight: bold;
}
.foot{
    width: 1200px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.foot a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.foot-container{
    position: relative;
    top: 30px;
    display: flex;
    height: 60px;
    background-color: #3474e6;
    align-items: center;
    justify-content: space-around;
}

